@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-height: 100vh;
  max-width: 100vw;

  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
  background: #471e1e;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0;
  color: #c82c2c;
}

.container {
  max-width: 850px;
  height: 600px;
  text-align: center;
  margin: 0 auto;
  box-shadow: #333 0 0 50px;
}

.new-game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2vw;
  position: relative;
  bottom: 90%;
  z-index: 9;
}

#new-game-btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: none;
}

#new-game-img {
  width: 20px;
  margin-right: 1vw;
  cursor: pointer;
}

.dice {
  display: inline-block;
  height: 100px;
  width: 100px;
  text-align: center;
  position: relative;
  bottom: 65%;
  box-shadow: #333 0 0 10px;
  z-index: 9;
  border-radius: 10px;
}

.roll-dice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vw;
  text-align: center;
  position: relative;
  bottom: 50%;
  z-index: 9;
}

#dice-btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: none;
}

#dice-btn-img {
  width: 20px;
  margin-right: 1vw;
  cursor: pointer;
}

.hold {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vw;
  text-align: center;
  position: relative;
  bottom: 50%;
  z-index: 9;
}

#hold-btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: none;
}

#hold-btn-img {
  width: 20px;
  margin-right: 1vw;
  cursor: pointer;
}

.player1 {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  background: #ddd;
}

.player2 {
  background: #fff;

  float: right;
  height: 100%;
  width: 50%;
  text-align: center;
}

.round {
  position: relative;
  top: 18%;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0;
  color: #333;
}

h2 {
  position: relative;
  top: 18%;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0;
  color: #333;
}

#point1,
#point2 {
  width: 1vw;
}

.score {
  position: relative;
  top: 25%;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0;
  color: #333;
}

.current {
  display: inline-block;
  padding: 1vh 3vw;
  position: relative;
  top: 40%;
  border: #c82c2c 2px solid;
  background: #c82c2c;
}

h3 {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #333;
}
.current-score {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #fff;
}

@media (max-width: 850px) {
  .container {
    height: 100vh;
  }

  .new-game {
    bottom: 90%;
  }

  .dice {
    bottom: 65%;
  }

  .roll-dice {
    bottom: 49%;
  }

  .hold {
    bottom: 46%;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 0.6rem;
  }

  .current-score {
    font-size: 1rem;
  }

  #point1,
  #point2 {
    width: 2vw;
  }

  #new-game-img {
    width: 15px;
  }

  #dice-btn-img {
    width: 15px;
  }

  #hold-btn-img {
    width: 15px;
  }

  #new-game-btn {
    font-size: 15px;
  }

  #dice-btn {
    font-size: 15px;
  }

  #hold-btn {
    font-size: 15px;
  }
}
